<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h4>{{welcomeMsg}}</h4>
      <div ng-if="isLoggedIn==false">
        <button ng-click="login()" class="btn btn-default">Login</button>
      </div>
      <div ng-if="isLoggedIn==true">
          <button ng-click="logout()" class="btn btn-default">Logout</button>
        </div>
    </div>
    <div ng-if="isLoggedIn==true" class="well">
      <h4>User Info</h4>
      <ul>
        <li><strong>ID</strong>: {{userInfo.id}}</li>
        <li><strong>First Name</strong>: {{userInfo.first_name}}</li>
        <li><strong>Last Name</strong>: {{userInfo.last_name}}</li>
        <li><strong>Email</strong>: {{userInfo.email}}</li>
        <li><strong>Gender</strong>: {{userInfo.gender}}</li>
        <li><strong>Locale</strong>: {{userInfo.locale}}</li>
      </ul>
    </div>
    <div class="well">
      <h4>Permission</h4>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Welcome to Facebook!</h3>
    <form>
      <div class="form-group">
        <label>Status Update</label>
        <textarea class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>